openapi: 3.2.0
info:
  title: Metrics Staking Information API
  description: The Metrics API provides metrics and analytics of on-chain activity. The API is in Beta and may be subject to change.</br></br>If you have feedback or feature requests for the API, please submit them <a href="https://portal.productboard.com/dndv9ahlkdfye4opdm8ksafi/tabs/4-glacier-api">here</a>. Bug reports can be submitted <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJQrcp7QoNiqozMDKrVJGX5wpU827d3cVTgF8qa7t_J1Pb-g/viewform">here</a>, and any potential security issues can be reported <a href="https://hackenproof.com/avalanche">here</a>.
  version: 1.0.0
  contact: {}
servers:
- url: https://metrics.avax.network
tags:
- name: Staking Information
  description: Get staking information for a given chain.
paths:
  /v1/validators/network/{network}/subnetId/{subnetID}/count:
    get:
      operationId: getValidatorCount
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation count for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/validators/network/{network}/subnetId/{subnetID}/weight:
    get:
      operationId: getValidatorWeight
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation weight for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/delegators/network/{network}/subnetId/{subnetID}/count:
    get:
      operationId: getDelegatorCount
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the delegation count for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: subnetID
        required: true
        in: path
        description: The subnet ID for Avalanche primary network.
        example: 11111111111111111111111111111111LpoYY
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/delegators/network/{network}/subnetId/{subnetID}/weight:
    get:
      operationId: getDelegatorWeight
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the delegation for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: subnetID
        required: true
        in: path
        description: The subnet ID for Avalanche primary network.
        example: 11111111111111111111111111111111LpoYY
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/validators/network/{network}/subnetId/{subnetID}:
    get:
      operationId: getSubnetValidationPeriod
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation period for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/validators/network/{network}/node/{nodeID}:
    get:
      operationId: getNodeValidationPeriod
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation period for a node.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: network
        required: true
        in: path
        description: Network type
        example: mainnet
        schema:
          $ref: '#/components/schemas/LegacyNetworks'
      - name: nodeID
        required: true
        in: path
        description: alpha-numeric nodeID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/validators/count/{subnetID}:
    get:
      operationId: getValidatorCountBySubnetId
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation count for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/validators/weight/{subnetID}:
    get:
      operationId: getValidatorWeightBySubnetId
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the validation weight for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/delegators/count/{subnetID}:
    get:
      operationId: getDelegatorCountBySubnetId
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the delegation count for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
  /v1/delegators/weight/{subnetID}:
    get:
      operationId: getDelegatorWeightBySubnetId
      x-execution-weight: small
      x-speakeasy-group: metrics.stakingInformation
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: startKey
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageStartKey
      x-speakeasy-ignore: true
      description: Get the delegation for a subnet.
      deprecated: true
      parameters:
      - name: from
        required: false
        in: query
        description: From date in UNIX Timestamp.
        example: 1654819200
        schema:
          type: string
      - name: to
        required: false
        in: query
        description: To date in UNIX Timestamp.
        example: 1655424000
        schema:
          type: string
      - name: startKey
        required: false
        in: query
        description: For paginated responses. Value will be provided in the [nextPageStartKey] field in the response if the query has more than one page.
        schema:
          type: string
      - name: subnetID
        required: true
        in: path
        description: alpha-numeric subnetID
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: Sort order for the results
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingInformationResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Staking Information
components:
  schemas:
    Unauthorized:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 401
        error:
          type: string
          description: The type of error
          examples:
          - Unauthorized
      required:
      - message
      - statusCode
      - error
    ServiceUnavailable:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 503
        error:
          type: string
          description: The type of error
          examples:
          - Service Unavailable
      required:
      - message
      - statusCode
      - error
    BadGateway:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 502
        error:
          type: string
          description: The type of error
          examples:
          - Bad Gateway
      required:
      - message
      - statusCode
      - error
    ValidatorInformation:
      type: object
      properties:
        timestamp:
          type: number
        subnetID:
          type: string
        nodeID:
          type: string
        addresses:
          type: array
          items:
            type: string
        delegationFee:
          type: number
        delegatorCount:
          type: number
        delegatorWeight:
          type: number
        endTime:
          type: number
        startTime:
          type: number
        status:
          type: string
        transactionHash:
          type: string
        weight:
          type: number
      required:
      - timestamp
      - subnetID
      - nodeID
      - addresses
      - delegationFee
      - delegatorCount
      - delegatorWeight
      - endTime
      - startTime
      - status
      - transactionHash
      - weight
    StakingInformationResponse:
      type: object
      properties:
        nextPageStartKey:
          type: string
        lastRun:
          type: number
          examples:
          - 1717757617
        status:
          type: number
          examples:
          - 200
        results:
          type: array
          items:
            $ref: '#/components/schemas/StakingInformation'
      required:
      - status
      - results
    BadRequest:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 400
        error:
          type: string
          description: The type of error
          examples:
          - Bad Request
      required:
      - message
      - statusCode
      - error
    NotFound:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 404
        error:
          type: string
          description: The type of error
          examples:
          - Not Found
      required:
      - message
      - statusCode
      - error
    StakingInformation:
      type: object
      properties:
        value:
          type: number
        timestamp:
          type: number
        subnetID:
          type: string
      required:
      - value
      - timestamp
      - subnetID
    Forbidden:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 403
        error:
          type: string
          description: The type of error
          examples:
          - Forbidden
      required:
      - message
      - statusCode
      - error
    LegacyNetworks:
      type: string
      enum:
      - mainnet
      - fuji
    TooManyRequests:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 429
        error:
          type: string
          description: The type of error
          examples:
          - Too Many Requests
      required:
      - message
      - statusCode
      - error
    ValidatorInformationResponse:
      type: object
      properties:
        nextPageStartKey:
          type: string
        lastRun:
          type: number
          examples:
          - 1717757617
        status:
          type: number
          examples:
          - 200
        results:
          type: array
          items:
            $ref: '#/components/schemas/ValidatorInformation'
      required:
      - status
      - results
    InternalServerError:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 500
        error:
          type: string
          description: The type of error
          examples:
          - Internal Server Error
      required:
      - message
      - statusCode
      - error
x-speakeasy-globals:
  parameters:
  - $ref: '#/components/parameters/GlobalParamChainId'
  - $ref: '#/components/parameters/GlobalParamNetwork'
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 120000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
x-execution-weight-values:
  free: 1
  large: 50
  medium: 20
  none: 0
  small: 10
  xl: 100
  xxl: 200
