openapi: 3.2.0
info:
  title: Chain Metrics API
  description: 'The Metrics API provides metrics and analytics of on-chain activity. The API is in Beta and may be subject to change.


    If you have feedback or feature requests for the API, please submit them here. Bug reports can be submitted here, and any potential security issues can be reported here.'
  version: 1.0.0
  contact: {}
servers:
- url: https://metrics.avax.network
tags:
- name: Chain Metrics
  description: Get network level staking and usage metrics.
paths:
  /v2/chains/{chainId}/metrics/{metric}:
    get:
      operationId: getEvmChainMetrics
      x-execution-weight: small
      x-speakeasy-group: metrics.chains
      x-speakeasy-name-override: getMetrics
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: pageToken
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageToken
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: "import { Avalanche } from \"@avalanche-sdk/chainkit\";\n\nconst avalanche = new Avalanche({\n  chainId: \"43114\",\n});\n\nasync function run() {\n  const result = await avalanche.metrics.chains.getMetrics({\n    metric: \"activeAddresses\",\n    startTimestamp: 1689541049,\n    endTimestamp: 1689800249,\n    timeInterval: \"day\",\n    pageSize: 10,\n  });\n\n  for await (const page of result) {\n    console.log(page);\n  }\n}\n\nrun();"
      summary: Get metrics for EVM chains
      description: EVM chain metrics are available for all Avalanche L1s on _Mainnet_ and _Fuji_ (testnet).
      parameters:
      - name: metric
        required: true
        in: path
        description: Which chain level metric to fetch.
        example: activeAddresses
        schema:
          $ref: '#/components/schemas/ChainMetric'
      - name: startTimestamp
        required: false
        in: query
        description: Query param for retrieving items after a specific timestamp.
        example: 1689541049
        schema:
          minimum: 0
          type: integer
      - name: endTimestamp
        required: false
        in: query
        description: Query param for retrieving items before a specific timestamp.
        example: 1689800249
        schema:
          minimum: 0
          type: integer
      - name: timeInterval
        required: false
        in: query
        description: "Time interval granularity for data aggregation. Metrics\n    prefixed with \"cumulative\", \"max\", or \"avg\" only support timeInterval equal\n    to \"day\"."
        example: day
        schema:
          $ref: '#/components/schemas/TimeIntervalGranularity'
      - name: pageToken
        required: false
        in: query
        description: A page token, received from a previous list call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      - name: pageSize
        required: false
        in: query
        description: The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 2160
        example: '10'
      - name: chainId
        required: true
        in: path
        description: A supported EVM chain ID or one of "total", "mainnet", or "testnet". Use the `/chains` endpoint to get a list of supported chain IDs.
        example: '43114'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
  /v2/chains/{chainId}/rollingWindowMetrics/{metric}:
    get:
      operationId: getEvmChainRollingWindowMetrics
      x-execution-weight: small
      x-speakeasy-group: metrics.chains
      x-speakeasy-name-override: getRollingWindowMetrics
      summary: Get rolling window metrics for EVM chains
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: "import { Avalanche } from \"@avalanche-sdk/chainkit\";\n\nconst avalanche = new Avalanche({\n  chainId: \"43114\",\n});\n\nasync function run() {\n  const result = await avalanche.metrics.chains.getRollingWindowMetrics({\n    metric: \"txCount\",\n  });\n\n  console.log(result);\n}\n\nrun();"
      description: Gets the rolling window metrics for an EVM chain for the last hour, day, week, month, 90 days, year, and all time. Active addresses/active senders only support last hour, day, and week.
      parameters:
      - name: metric
        required: true
        in: path
        description: Which chain level metric to fetch for the rolling window.
        example: txCount
        schema:
          $ref: '#/components/schemas/ChainRollingWindowMetric'
      - name: chainId
        required: true
        in: path
        description: A supported EVM chain ID or one of "total", "mainnet", or "testnet". Use the `/chains` endpoint to get a list of supported chain IDs.
        example: '43114'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollingWindowMetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
  /v2/chains/{chainId}/teleporterMetrics/{metric}:
    get:
      operationId: getTeleporterMetricsByChain
      x-execution-weight: small
      x-speakeasy-group: metrics.chains
      x-speakeasy-name-override: getTeleporterMetrics
      description: Gets teleporter metrics for an EVM chain.
      deprecated: true
      parameters:
      - name: metric
        required: true
        in: path
        description: Which chain level teleporter metric to fetch.
        example: teleporterSourceTxnCount
        schema:
          $ref: '#/components/schemas/TeleporterMetric'
      - name: chainId
        required: true
        in: path
        description: A supported EVM chain ID or one of "total", "mainnet", or "testnet". Use the `/chains` endpoint to get a list of supported chain IDs.
        example: '43114'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeleporterChainMetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
      summary: Get teleporter metrics by chain
      x-summary-source: derived
  /v2/icm/timeseries:
    get:
      operationId: getICMTimeseries
      x-execution-weight: small
      x-speakeasy-group: metrics.chains
      x-speakeasy-name-override: getICMTimeseries
      summary: Get ICM timeseries metrics
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: "import { Avalanche } from \"@avalanche-sdk/chainkit\";\n\nconst avalanche = new Avalanche();\n\nasync function run() {\n  const result = await avalanche.metrics.chains.getICMTimeseries({\n    startTimestamp: 1689541049,\n    endTimestamp: 1689800249,\n    timeInterval: \"day\",\n    pageSize: 10,\n    groupBy: \"destBlockchainId\",\n    network: \"mainnet\",\n  });\n\n  console.log(result);\n}\n\nrun();"
      description: 'Get historical ICM message counts with flexible grouping.


        Use filters (`srcBlockchainId`, `destBlockchainId`, `network`) to select data, and the `groupBy` parameter for aggregation level.


        ### Examples:


        - **Specific pair**: `?srcBlockchainId=...&destBlockchainId=...`


        - **From one source (aggregated)**: `?srcBlockchainId=...`


        - **From one source (by destination)**: `?srcBlockchainId=...&groupBy=destBlockchainId`


        - **To one destination (aggregated)**: `?destBlockchainId=...`


        - **To one destination (by source)**: `?destBlockchainId=...&groupBy=srcBlockchainId`


        - **Network total**: `?network=mainnet`


        - **Network breakdown**: `?network=mainnet&groupBy=srcBlockchainId,destBlockchainId`.'
      parameters:
      - name: startTimestamp
        required: false
        in: query
        description: Query param for retrieving items after a specific timestamp.
        example: 1689541049
        schema:
          minimum: 0
          type: integer
      - name: endTimestamp
        required: false
        in: query
        description: Query param for retrieving items before a specific timestamp.
        example: 1689800249
        schema:
          minimum: 0
          type: integer
      - name: srcBlockchainId
        required: false
        in: query
        description: Query param for retrieving items for a specific source (initiating) blockchain id.
        schema:
          type: string
      - name: destBlockchainId
        required: false
        in: query
        description: Query param for retrieving items for a specific destination (receiving) blockchain id.
        schema:
          type: string
      - name: timeInterval
        required: false
        in: query
        description: "Time interval granularity for data aggregation. Metrics\n    prefixed with \"cumulative\", \"max\", or \"avg\" only support timeInterval equal\n    to \"day\"."
        example: day
        schema:
          $ref: '#/components/schemas/TimeIntervalGranularity'
      - name: pageToken
        required: false
        in: query
        description: A page token, received from a previous list call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      - name: pageSize
        required: false
        in: query
        description: The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 2160
        example: '10'
      - name: groupBy
        required: false
        in: query
        description: Group results by srcBlockchainId, destBlockchainId, or both (comma-separated)
        example: destBlockchainId
        schema:
          enum:
          - srcBlockchainId
          - destBlockchainId
          - srcBlockchainId,destBlockchainId
          type: string
      - name: network
        required: false
        in: query
        description: Either mainnet or testnet/fuji.
        example: mainnet
        schema:
          $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICMMetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
  /v2/icm/summary:
    get:
      operationId: getICMSummary
      x-execution-weight: small
      x-speakeasy-group: metrics.chains
      x-speakeasy-name-override: getICMSummary
      summary: Get ICM summary metrics
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: "import { Avalanche } from \"@avalanche-sdk/chainkit\";\n\nconst avalanche = new Avalanche();\n\nasync function run() {\n  const result = await avalanche.metrics.chains.getICMSummary({\n    groupBy: \"destBlockchainId\",\n    network: \"mainnet\",\n  });\n\n  console.log(result);\n}\n\nrun();"
      description: 'Get rolling window ICM message counts (last hour, day, month, 90 days, year, all time).


        Use filters (`srcBlockchainId`, `destBlockchainId`, `network`) to select data, and the `groupBy` parameter for aggregation level.


        ### Examples:


        - **Specific pair**: `?srcBlockchainId=...&destBlockchainId=...`


        - **From one source (aggregated)**: `?srcBlockchainId=...`


        - **From one source (by destination)**: `?srcBlockchainId=...&groupBy=destBlockchainId`


        - **To one destination (aggregated)**: `?destBlockchainId=...`


        - **To one destination (by source)**: `?destBlockchainId=...&groupBy=srcBlockchainId`


        - **Network total**: `?network=mainnet`


        - **Network breakdown**: `?network=mainnet&groupBy=srcBlockchainId,destBlockchainId`.'
      parameters:
      - name: srcBlockchainId
        required: false
        in: query
        description: Query param for retrieving items for a specific source (initiating) blockchain id.
        schema:
          type: string
      - name: destBlockchainId
        required: false
        in: query
        description: Query param for retrieving items for a specific destination (receiving) blockchain id.
        schema:
          type: string
      - name: groupBy
        required: false
        in: query
        description: Group results by srcBlockchainId, destBlockchainId, or both (comma-separated)
        example: destBlockchainId
        schema:
          enum:
          - srcBlockchainId
          - destBlockchainId
          - srcBlockchainId,destBlockchainId
          type: string
      - name: network
        required: false
        in: query
        description: Either mainnet or testnet/fuji.
        example: mainnet
        schema:
          $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICMRollingWindowMetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
  /v2/networks/{network}/metrics/{metric}:
    get:
      operationId: getStakingMetrics
      x-execution-weight: small
      x-speakeasy-group: metrics.networks
      x-speakeasy-pagination:
        type: cursor
        inputs:
        - name: pageToken
          in: parameters
          type: cursor
        outputs:
          nextCursor: $.nextPageToken
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: "import { Avalanche } from \"@avalanche-sdk/chainkit\";\n\nconst avalanche = new Avalanche({\n  network: \"mainnet\",\n});\n\nasync function run() {\n  const result = await avalanche.metrics.networks.getStakingMetrics({\n    metric: \"validatorCount\",\n    startTimestamp: 1689541049,\n    endTimestamp: 1689800249,\n    pageSize: 10,\n  });\n\n  for await (const page of result) {\n    console.log(page);\n  }\n}\n\nrun();"
      summary: Get staking metrics for a given subnet
      description: Gets staking metrics for a given subnet.
      parameters:
      - name: metric
        required: true
        in: path
        description: Which network level metric to fetch.
        example: validatorCount
        schema:
          $ref: '#/components/schemas/NetworkMetric'
      - name: startTimestamp
        required: false
        in: query
        description: Query param for retrieving items after a specific timestamp.
        example: 1689541049
        schema:
          minimum: 0
          type: integer
      - name: endTimestamp
        required: false
        in: query
        description: Query param for retrieving items before a specific timestamp.
        example: 1689800249
        schema:
          minimum: 0
          type: integer
      - name: pageToken
        required: false
        in: query
        description: A page token, received from a previous list call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      - name: pageSize
        required: false
        in: query
        description: The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 2160
        example: '10'
      - name: network
        required: true
        in: path
        description: Either mainnet or testnet/fuji.
        example: mainnet
        schema:
          $ref: '#/components/schemas/Network'
      - name: subnetId
        required: false
        in: query
        description: The subnet ID to filter by. If not provided, then all subnets will be returned.
        example: 11111111111111111111111111111111LpoYY
        schema:
          default: 11111111111111111111111111111111LpoYY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsApiResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Chain Metrics
components:
  schemas:
    TooManyRequests:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 429
        error:
          type: string
          description: The type of error
          examples:
          - Too Many Requests
      required:
      - message
      - statusCode
      - error
    ChainRollingWindowMetric:
      type: string
      enum:
      - gasUsed
      - txCount
      - avgGps
      - maxGps
      - avgTps
      - maxTps
      - avgGasPrice
      - maxGasPrice
      - feesPaid
      - contracts
      - deployers
      - activeAddresses
      - activeSenders
    ICMRollingWindowMetricsApiResponse:
      type: object
      properties:
        result:
          description: Array of current metrics values for different windows.
          allOf:
          - $ref: '#/components/schemas/ICMRollingWindowMetricsValue'
      required:
      - result
    Network:
      type: string
      enum:
      - mainnet
      - fuji
      - testnet
    ICMMetricsValue:
      type: object
      properties:
        value:
          type: number
          description: Aggregated value for the current metrics.
        timestamp:
          type: number
          description: Unix Epoch timestamp for which metrics are aggregated. Depending on the interval of the metric this can be at the start of the relevant hour, day, month, year, etc.
        srcBlockchainId:
          type: string
          description: Source blockchainId.
        destBlockchainId:
          type: string
          description: Destination blockchainId.
      required:
      - value
      - timestamp
      - srcBlockchainId
      - destBlockchainId
    TeleporterChainMetricsApiResponse:
      type: object
      properties:
        result:
          description: current metrics value for a given teleporter metric.
          allOf:
          - $ref: '#/components/schemas/TeleporterMetricsValue'
      required:
      - result
    TimeIntervalGranularity:
      type: string
      enum:
      - hour
      - day
      - week
      - month
    RollingWindowMetricsApiResponse:
      type: object
      properties:
        result:
          description: Array of current metrics values for different windows.
          allOf:
          - $ref: '#/components/schemas/ChainRollingWindowMetricsValue'
      required:
      - result
    ChainMetric:
      type: string
      enum:
      - activeAddresses
      - activeSenders
      - cumulativeTxCount
      - cumulativeAddresses
      - cumulativeContracts
      - cumulativeDeployers
      - contracts
      - deployers
      - gasUsed
      - txCount
      - avgGps
      - maxGps
      - avgTps
      - maxTps
      - avgGasPrice
      - maxGasPrice
      - feesPaid
    Unauthorized:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 401
        error:
          type: string
          description: The type of error
          examples:
          - Unauthorized
      required:
      - message
      - statusCode
      - error
    BadGateway:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 502
        error:
          type: string
          description: The type of error
          examples:
          - Bad Gateway
      required:
      - message
      - statusCode
      - error
    MetricsApiResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages.
        results:
          description: Array of current metrics values at different timestamps.
          type: array
          items:
            $ref: '#/components/schemas/MetricsValue'
      required:
      - results
    Forbidden:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 403
        error:
          type: string
          description: The type of error
          examples:
          - Forbidden
      required:
      - message
      - statusCode
      - error
    NetworkMetric:
      type: string
      enum:
      - delegatorCount
      - delegatorWeight
      - validatorCount
      - validatorWeight
    ServiceUnavailable:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 503
        error:
          type: string
          description: The type of error
          examples:
          - Service Unavailable
      required:
      - message
      - statusCode
      - error
    MetricsValue:
      type: object
      properties:
        value:
          type: number
          description: Aggregated value for the current metrics.
        timestamp:
          type: number
          description: Unix Epoch timestamp for which metrics are aggregated. Depending on the interval of the metric this can be at the start of the relevant hour, day, month, year, etc.
      required:
      - value
      - timestamp
    ChainRollingWindowMetricsValue:
      type: object
      properties:
        lastHour:
          type: number
          description: Aggregated value for the current metrics in last hour.
        lastDay:
          type: number
          description: Aggregated value for the current metrics in last day.
        lastWeek:
          type: number
          description: Aggregated value for the current metrics in last week.
        lastMonth:
          type: number
          description: Aggregated value for the current metrics in last month.
        last90Days:
          type: number
          description: Aggregated value for the current metrics in last 90 days.
        lastYear:
          type: number
          description: Aggregated value for the current metrics in last year.
        allTime:
          type: number
          description: Aggregated value for the current metrics for all time.
    ICMRollingWindowMetricsValue:
      type: object
      properties:
        lastHour:
          type: number
          description: Aggregated value for the current metrics in last hour.
        lastDay:
          type: number
          description: Aggregated value for the current metrics in last day.
        lastWeek:
          type: number
          description: Aggregated value for the current metrics in last week.
        lastMonth:
          type: number
          description: Aggregated value for the current metrics in last month.
        last90Days:
          type: number
          description: Aggregated value for the current metrics in last 90 days.
        lastYear:
          type: number
          description: Aggregated value for the current metrics in last year.
        allTime:
          type: number
          description: Aggregated value for the current metrics for all time.
        srcBlockchainId:
          type: string
          description: Source blockchainId.
        destBlockchainId:
          type: string
          description: Destination blockchainId.
      required:
      - srcBlockchainId
      - destBlockchainId
    TeleporterMetricsValue:
      type: object
      properties:
        value:
          type: number
          description: Aggregated value for the current metrics.
      required:
      - value
    ICMMetricsApiResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages.
        results:
          description: Array of current ICM metrics values.
          type: array
          items:
            $ref: '#/components/schemas/ICMMetricsValue'
      required:
      - results
    TeleporterMetric:
      type: string
      enum:
      - teleporterSourceTxnCount
      - teleporterDestinationTxnCount
      - teleporterTotalTxnCount
    InternalServerError:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 500
        error:
          type: string
          description: The type of error
          examples:
          - Internal Server Error
      required:
      - message
      - statusCode
      - error
    BadRequest:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 400
        error:
          type: string
          description: The type of error
          examples:
          - Bad Request
      required:
      - message
      - statusCode
      - error
    NotFound:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 404
        error:
          type: string
          description: The type of error
          examples:
          - Not Found
      required:
      - message
      - statusCode
      - error
x-speakeasy-globals:
  parameters:
  - $ref: '#/components/parameters/GlobalParamChainId'
  - $ref: '#/components/parameters/GlobalParamNetwork'
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 120000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
x-execution-weight-values:
  free: 1
  large: 50
  medium: 20
  none: 0
  small: 10
  xl: 100
  xxl: 200
